$text-black: #000;
$text-white: #fff;
$text-blue: #4D46FA;
$text-orange: #F06336;

$bgr-blue:#4D46FA;
$bgr-orange: #F06336;
$bgr-white: #fff;
$bgr-black: #000;
$bgr-gray:  #E5E5E5;
$bgr-grayMore:  #979797;
